
<table id="productsTable" class="table table-hover">
  <thead>
    <tr class="fake-link">
      <th><%= sortable("brand") %></th>
      <th><%= sortable("model") %></th>
      <th><%= sortable("release_year", "Year of Release") %></th>
      <th><%= sortable("qty_purchased", "Qty purchased") %></th>

    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td> <%= product.brand %> </td>
        <td> <%= product.model %> </td>
        <td> <%= product.release_year %> </td>
        <td> <%= product.qty_purchased %> </td>
      </tr>
    <% end %>
  </tbody>
  </table>

  <%= will_paginate @products %>
